
        <div id="header">
            <div id="left">
                <a href="" style="text-decoration: none;color: #393E46;"><p class="rytcrop">Rytcrop</p></a>
            </div>
            <div id="right">
                <a class="btn" href="contactUs.ejs">Contact us</a>
                <a class="btn" href="login.ejs">Log in</a>
                <!-- <button class="btn3" type="button" onclick="signUP"><div>Sign up <div class="underline1"></div> </div></button> -->
            </div>
        </div>  