<!DOCTYPE html>
<html >
    <head>
        <title>
            Rytcrop
        </title>
        <link rel="icon" href="images/webinar.png">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Noto+Serif+Georgian:wght@300&family=Open+Sans&family=Outfit&family=Playfair+Display+SC&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Noto+Serif+Georgian:wght@300&family=Open+Sans&family=Outfit&family=Playfair+Display+SC&family=Poppins&family=Roboto+Mono:wght@500&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Noto+Serif+Georgian:wght@300&family=Open+Sans&family=Outfit&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display+SC&family=Poppins&family=Roboto+Mono:wght@500&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<div style="position: relative;">
            <div class="circle" style="height: 1100px;width: 1100px;background-color: #00ADB5; position: absolute;z-index: -1;border-radius: 100%;top:-400px;left: -200px;"></div>
        </div>
    <body style="margin:0px">
<%- include('header'); %>
<div id="body1">
            <div id="body2">
                <div id="leftbody">
                    <h1>Rytcrop</h1>
                    <p class="para">Unlock your land's potential with our intuitive farming tool. Input soil attributes like pH, nutrients, and humidity to receive personalized crop suggestions. Stay informed with live weather forecasts for optimal planning. Elevate your farming experience – start cultivating success with us today!</p>
                    <a href="signup.ejs"><button class="get-started-btn">Get Started</button></a>
                </div>
                <div id="rightbody">
                    <div id="img1">

                    </div>
                    <!-- <img src="images/field.png" alt="field" height="400px" > -->
                </div>
            </div>
                 
          </div>
          <div class="bobar">
            <div class="bobar1">
                <p class="para1">JOIN OVER 1 MILLION PEOPLE WHO ALREADY IMPROVED THEIR LIVES WITH US.</p>
              </div>
          </div>
          
              
        </div> 
        <%- include('footer'); %>  
        
        
<script src="scripts/mainpage.js"></script>
</body>
</html>
