<div class="block1">
    <div id="block11">
        <div id="nav1">
            <img id="imag" src="images/menus.png" height="37px">
        </div>
        <div class="block1Bottom">
            <img class="imag1" src="images/user.png" height="130px">
        </div>
        <div class="block1Bottom">
            <p class="userName"><b><%= fname %></b></p>
        </div>
        <div class="block1Bottom">
            <p class="profession"><%=occup%></p>
        </div>
        <div class="block1Bottom">
            <img class="imag2" src="images/placeholder.png" height="20px">
            <p class="location"><%=loca%></p>
        </div>
        <div class="block1Bottom1">
            <p class="about">About:</p>
            <p class="abouts"><%=abo%></p>
        </div>
        <div class="dashed"></div>
    </div>
    <div id="block12">
        <div id="nav2">
            <img id="imag" src="images/menus.png" height="37px" >
        </div>
        <div class="home">
            <img id="imag3" src="images/home (1).png" height="25px" >
            <a class="barButtons" href="/room.ejs">Home</a>
        </div>
        <div class="home home1">
            <img id="imag2" src="images/buy.png" height="30px" >
            <a class="barButtons" href="#">Sell your crop</a>
        </div>
        <div class="home home1">
            <img id="imag2" src="images/shopping-cart.png" height="30px" >
            <a class="barButtons" href="#">Buy</a>
        </div>
        <div class="home home1">
            <img id="imag3" src="images/logout.png" height="25px" >
            <a class="barButtons" href="/">logout</a>
        </div>

    </div>
</div>